body {
  font-family: sans-serif;
  background-color: #f8f7f5;
}

h1 {
  text-align: center;
  font-size: 4.5em;
  font-weight: 600;
  letter-spacing: -0.05em;
  margin-top: 60px;
  margin-bottom: 90px;
}

p {
  text-align: center;
  font-size: 1.05em;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 55px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  display: block;
  margin: auto;
  background-color: black;
  color: white;
  padding: 16px 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 1.05em;
}

button:hover {
  background-color: red;
}

img {
  height: 80px;
}
